@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --cor-primaria: #23022E;
    --cor-secundaria: #FFE3DC;
    --cor-terciaria: #D30C7B;
    --cor-hover: #1b0224;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secudaria: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding-left: 15%;
    padding-top: 2%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secudaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.apresentacao {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secudaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px
}

.apresentacao__links__link {
    font-family: var(--fonte-secudaria);
    font-weight: bold;
    width: 378px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    padding: 21.5px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.rodape {
    font-family: 'Mont Serrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 24px;
    text-align: center;
    color: black;
    background-color: var(--cor-terciaria);
}
